:root {
    --primary-color: #ff5500 ;
    --secondary-color: #212529;
    --background-color: #f8f9fa;

    --primary-muted: #ff7d33;
    --primary-light: #ff9e55;

    --secondary-muted: #212529;
    --secondary-light: #212529;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f8f9fa;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}