<section class="categories py-5">
  <div class="container">
    <div class="text-center mb-5">
      <span class="text-uppercase fw-semibold text-primary">
        Our Categories
      </span>

      <h2 class="fw-bold mt-2">Browse by Category</h2>

      <p class="text-muted mx-auto" style="max-width: 600px">
        Discover your favorite dishes from our carefully curated food
        categories.
      </p>
      <div class="row g-4" id="categoryContainer"></div>
    </div>
  </div>
</section>
