<section class="offer-banner py-5">
  <div class="container">
    <div class="offer-banner-art">
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="assets/hero/offer-banner-mobile.png"
        />
        <img
          src="assets/hero/offer-banner.png"
          class="img-fluid"
          alt="Special Offer"
        />
      </picture>

      <a
        href="products.html"
        class="offer-btn"
        aria-label="Order now"
      ></a>
    </div>
  </div>
</section>
